﻿@model IEnumerable<IdentityRole>
@{
    string strTitle = "Список ролей";
    ViewBag.Title = strTitle;
}
<div>
    <hr />
    <p><strong>@strTitle</strong></p>
    <hr />
    <div class="div-box">
        <a asp-action="Create">Добавить роль</a>
    </div>
    <table class="table" style="width:500px">
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <div class="div-box">
        <a asp-action="UserList">Список пользователей</a>
    </div>

</div>