﻿@model Department
@{
    string strTitle = "Редактирование отдела";
    ViewBag.Title = strTitle;
}

@{
    <section>
        <hr />
        <p><strong>@strTitle</strong></p>
        <hr />
        <p>Для изменения введите новые данные</p>
        <form asp-action="DepartmentsUpdate" asp-controller="References">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <label asp-for="Name" class="control-label">Текущее значение</label>
            <input type="text" asp-for="Name" class="form-group" /><br />
            <button type="submit" class="btn btn-sm btn-danger">Изменить</button>

            <input type="button" value="Отменить" onclick="location.href='@Url.Action("Departments","References")';" class="btn btn-outline-secondary" />
        </form>
        <form asp-action="DepartmentsDelete" asp-controller="References" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
        </form>
    </section>
}
