﻿@model IEnumerable<Department>

@{
    /*<section>
        <ul class="pagination-list">
            <li class="pagination-item pagination-item-current"><a href="#">1</a></li>
            <li class="pagination-item"><a>2</a></li>
            <li class="pagination-item"><a href="#">3</a></li>
            <li class="pagination-item"><a href="#">4</a></li>
        </ul>
    </section>*/

    <div stlye="width:100%;">
        <div style="width:80%;height:20px;">
            <input type="button" value="Добавить" onclick="location.href='@Url.Action("DepartmentsCreate","References")';" class="btn btn-outline-secondary" />
        </div>
    </div>

    foreach (var item in ViewBag.Departments as List<Department>
        )
    {
        <div stlye="width:100%;">
            <div style="width:80%;height:20px;">
                <h2><a asp-area="Admin" asp-controller="References" asp-action="DepartmentsUpdate" asp-route-id="@item.Id">@item.Name</a></h2>
            </div>
            <div>
                <p>@item.Id</p>
            </div>
        </div>
    }

}
