﻿@model Department
@{
    string strTitle = "Добавление отдела";
    ViewBag.Title = strTitle;

}
<hr />
<p><strong>@strTitle</strong></p>
<hr />

<div class="form-group">
    <form asp-controller="References" asp-action="DepartmentsCreate">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" /><br />
        <br />
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </form>
</div>