﻿<div>
        <a asp-area="Admin" asp-controller="References" asp-action="Departments">Отдел</a>
        <a asp-area="" asp-controller="" asp-action="" asp-route-id="">Заявки</a>
        <a asp-area="" asp-controller="" asp-action="">ддд</a>
</div>
